/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
# ignore my notes file 
NOTES.md
# ignore my api_keys.rb file
api_keys.rb
# blog post for this project
BLOG_POST.md